@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Find your perfect dress!</h1>
    <img src="~/Images/bg_fg.jpg" width="700" />
    <h4>OUR MISSION – TO BRING HAPPINESS TO PEOPLE IN THE UNFORGETTABLE MOMENTS OF THEIR LIVES BY CREATING THE BEST FASHION PRODUCT.</h4>
</div>

<style>
    body{
        background-image : url("/Images/bg.jpg");
        background-repeat: no-repeat;
        background-size : 100%
    }
</style>